.order {
  padding-bottom: 70px;

  @media screen and (max-width: 576px) {
    padding-bottom: 40px;
  }

  .title {
    text-align: center;
  }
  &__form {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 30px;
    img {
      transform: scale(1.5);
    }
  }
  &__input {
    width: 280px;
    height: 50px;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: none;
  }
  &__group {
    text-align: center;

    small {
      display: block;
    }
  }
}
